@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:600|Raleway:600');

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-image: url("images/coincover2.jpg");
    background-color: #020051; /* Used if the image is unavailable */
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-size: cover; /* Resize the background image to cover the entire container */

}

a {
    text-decoration: none;
    color: #b7b3db;
}

a:hover {
    text-decoration: underline;
}

.content {

    margin-top: 25px;
    background-color: rgba(40, 13, 15, 0);
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Header/logo Title */
.header {
    font-family: 'Encode Sans Condensed', sans-serif;
    padding: 60px;
    text-align: center;
    background-image: url("images/banner.jpg");
    background-color: #452829;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: #fcc648;
}

.header > p, h1 {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2px;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: rgba(7, 4, 46, 0.72);
    padding: 10px;
    color: #fccb80;
}

/* Main column */
.main {
    flex: 70%;
    color: #ae943a;
    background-color: rgba(20, 52, 88, 0.45);
    padding: 10px;
    text-align: center;
}

#whyUs {
    text-align: left;
}

img {
    margin: 10px;
    padding: 8px;
    background-color: rgba(30, 42, 54, 0.82);
}

article {
    padding: 10px;
    background-color: rgba(188, 188, 190, 0.74);
    color: #485167;
    width: 80%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

article > img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-height: 200px;
    max-width: 300px;
    background-color: #1e2a36;
    padding: 5px;
}

/* Sidebar Image */
.sidebarImage img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    max-width: 300px;
}

/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    background: rgba(0, 43, 30, 0.64);
    color: rgba(252, 216, 100, 0.71);
    display: flex;
    font-family: 'Raleway', sans-serif;

}

.footer > p {
    margin-top: auto;

}
.footer img {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

.a, .b, .c {
    flex: 1;
    text-align: center;
   align-self: flex-end;
}

/* End of Footer Styling*/

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: rgba(0, 43, 30, 0.63);

}

/* Style the navigation bar links */
.navbar a {
    color: rgb(170, 215, 201);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex: auto; /*auto adjusts the width of the navbar buttons.*/
}

/* Change color on hover */
.navbar a:hover {
    background-color: rgba(0, 43, 30, 0.6);
    color: rgba(84, 166, 141, 0.65);
}

.navbar .active {
    background-color: rgba(0, 43, 30, 0.6);
    color: rgba(84, 166, 141, 0.65);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width: 1300px) {
    .content {
        margin-left: 5%;
        margin-right: 5%;
    }
}